@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  height: 100%;
  min-width: 1200px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;

  color: #333333;
  background-color: #F2F2F2;

  margin: 0;

}

.page-container {
  min-height: 100%;
  width: 1200px;
  background-color: #FFFFFF;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.center-container {
  width: 1060px;
  margin: 0 auto;
}

.lead-text {
  color: #000000;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0 70px;
}

.basic-text {
  font-size: 20px;
  line-height: 26px;
  padding: 0 70px;
}

.tittle {
  color: #000000;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.button {
  font-family: inherit;
  color: #FFFFFF;
  background-color: #82B3D3;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
}

/*header*/
.page-header {
  display: flex;
  padding: 0 70px;
}

.logo {
  width: 140px;
  height: 70px;
  margin-right: 28px;
}

.navigation {
  display: flex;
  width: 892px;
}
.navigation-link {
  color: #000000;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
}

.navigation-link-button {

  background-color: #756157;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}

.navigation-list {
  list-style: none;
  width: 400px;
  padding: 0;
  margin: 0;
}

.navigation-user {
  max-width: 150px;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: auto;
}


.quantity-like {
  font-size: 10px;
  line-height: 10px;
  color:#FFFFFF;
  background-color: #7DB54F;
  border-radius: 50%;
}

.navigation-link-button {

  align-self: center;
  padding: 8px 34px;
  margin-left: 20px;

}

/*index*/
.main-container {
  flex-grow: 1;
}

/*Секция приветствие*/
.hero {

  background-color: #808080;
  color:#FFFFFF;
  background-image:url(../image/background/divider.svg), url(../image/background/index-hero.jpg);
  background-size: 100% auto, cover;
  background-position: bottom center, center;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 51px;
  padding-bottom: 82px;
  padding-right: 70px;
  padding-left: 70px;
}


/*Преимущества*/
.advantages {
  text-align: center;


}

.advantages-list {
  background-color: rgba(131, 179, 211, 0.12);
  list-style: none;
  padding: 0;
  margin: 0;
  display:flex;
  flex-wrap: wrap;
}

.advantages-item {
  min-height: 385px;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.advantages-item:nth-child(3n) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-other {
  background-color: #82B3D3;
  color: #FFFFFF;
  min-width: 1200px;
}

.advantages-item-other h3 {
  color: #FFFFFF;
}

.description {
  max-width: 230px;

}


/*Сервис*/
.services {
  text-align: center;
}

.services-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.services-item {
  min-width: 400px;
  min-height: 385px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.services-item:nth-child(2n+1) {
  background-color: rgba(131, 179, 211, 0.12);
}


/*Поиск отеля*/
.search-hotel {
  text-align: center;
  padding: 0 70px;
}

.button-search {
  background-color: #756157;
  padding: 8px 50px;
  max-width: 600px;
}

/*Футер*/


/*Рассылка*/
.newsletter {
  text-align: center;
  padding: 0 70px;
}

.newsletter input {
  font-family: inherit;
  background-color: #F2F2F2;
  border: none;
  line-height: 24px;
  color: #000000;
  width: 452px;
  height: 52px;
  padding-left: 20px;
}

.newsletter-button {
  padding: 8px 50px;
}

.newsletter-index {
  background-color: #808080;
  background-image: url(../image/background/index-newsletter.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFFFFF;
}

.newsletter-index h2 {
  color: #FFFFFF;
}
.footer-wrapper {
  display: flex;
  padding: 0 70px;
  justify-content: space-between;
  align-items: center;
}
/*Социальные сети*/
.social-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/*Контакт*/
.contact-tel {
  font-size: 40px;
  line-height: 40px;
}

.contact-tel a {
  text-decoration: none;
  color: #000000;
}


/*catalog.html*/


.container {
  background-color: #808080;
  color: #FFFFFF;
  background-image: url(../image/background/catalog-filter.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}


.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  margin: 0;
}

.breadcrumbs {
  list-style: none;
  padding: 0;
  margin: 0;
}

.breadcrumbs-link {
  text-decoration: none;
  color: inherit;
  font-size: 16px;
}


/*Фильтр*/
.filter {
  line-height: 23px;
}

.catalog-filter {
  display: flex;
}

.catalog-filter-group {
  border: none;
  padding: 0;
  margin: 0;
  padding-right: 70px;
}

.move-to-right {
  width: 286px;
  margin-left: auto;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.catalog-filter-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.control-input-price {
  font-family: inherit;
  width: 143px;

  line-height: 24px;
}

/*Кнопки фильтра*/
.filter .button {
  font-size: 16px;
  line-height: 20px;
}

.button-reset {
  background-color: inherit;
}

.filter-button {
  display: flex;
  flex-direction: column;
}

/*Сортировка*/

.result-filter {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.select-control {
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.button-sort-list {

  margin: 0;
  padding: 0;
}

.button-sort {
  background-color: #FFFFFF;
}

/*Каталог отелей*/


.hotel-list {
  margin: 0;
  padding: 0;
}

.hotel-card-link {
  text-decoration: none;
}

.hotel-card-title {
  text-transform: none;
}

.hotel-list .button {
  font-size: 16px;
  line-height: 20px;
}

.hotel-card-button {
  text-decoration: none;
  background-color: #756157;
}

.button-press {
  background-color: #7DB54F;
}


.hotel-rating {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

/*Пагинация*/
.pagination {
  list-style: none;
  margin: 0;
  padding: 0;
}

.pagination a {
  text-decoration: none;
}

.pagination-current {
  background-color: #F2F2F2;
  color:#000000;
}

.pagination-hidden {
  background-color: #FFFFFF;
  color: #000000;
  font-weight: 400;
}
