@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;

  color: #333333;
  background-color: #F2F2F2;
}

.lead-text {
  color: #000000;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.basic-text {
  font-size: 20px;
  line-height: 26px;
}

.tittle {
  color: #000000;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.button {
  font-family: inherit;
  color: #FFFFFF;
  background-color: #82B3D3;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
}

/*header*/

.page-header {
  background-color: #FFFFFF;
}

.navigation-link {
  color: #000000;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
}

.navigation-link-button {

  background-color: #756157;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}

.navigation-list {
  list-style: none;
}


.quantity-like {
  font-size: 10px;
  line-height: 10px;
  color:#FFFFFF;
  background-color: #7DB54F;
  border-radius: 50%;
}

/*index*/


/*Секция приветствие*/
.hero {
  background-color: #808080;
  background-image: url(../image/background/index-hero.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
}


/*Преимущества*/
.advantages {
  text-align: center;
  background-color: #FFFFFF;
}

.advantages-list {
  background-color: rgba(131, 179, 211, 0.12);
  list-style: none;

}

.advantages-item:nth-child(3n) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-other {
  background-color: #82B3D3;
  color: #FFFFFF;
}

.advantages-item-other h3 {
  color: #FFFFFF;
}


/*Сервис*/
.services {
  background-color: #FFFFFF;
  text-align: center;
}

.services-list {
  list-style: none;
}

.services-item:nth-child(2n+1) {
  background-color: rgba(131, 179, 211, 0.12);
}


/*Поиск отеля*/
.search-hotel {
  background-color: #FFFFFF;
  text-align: center;
}

.button-search {
  background-color: #756157;


}

/*Футер*/
.page-footer {
  background-color: #FFFFFF;

}

/*Рассылка*/
.newsletter {
  text-align: center;
}

.newsletter input {
  font-family: inherit;
  background-color: #F2F2F2;
  border: none;
  line-height: 24px;
  color: #000000;
}



.newsletter-index {
  background-color: #808080;
  background-image: url(../image/background/index-newsletter.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  color: #FFFFFF;
}

.newsletter-index h2 {
  color: #FFFFFF;
}

/*Социальные сети*/
.social-list {
  list-style: none;
}

/*Контакт*/
.contact-tel {
  font-size: 40px;
  line-height: 40px;
}

.contact-tel a {
  text-decoration: none;
  color: #000000;
}


/*catalog.html*/


.container {
  background-color: #808080;
  color: #FFFFFF;
  background-image: url(../image/background/catalog-filter.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  list-style: none;
}

.breadcrumbs-link {
  text-decoration: none;
  color: inherit;
  font-size: 16px;
}


/*Фильтр*/
.filter {
  line-height: 23px;
}

.catalog-filter-group {
  border: none;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.catalog-filter-list {
  list-style: none;
}

/*Кнопки фильтра*/
.filter .button {
  font-size: 16px;
  line-height: 20px;
}

.button-reset {
  background-color: inherit;
}

/*Сортировка*/
.sort {
  background-color: #FFFFFF;
}

.result-filter {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.select-control {
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.button-sort-list {
  list-style: none;
}

.button-sort {
  background-color: #FFFFFF;
}

/*Каталог отелей*/
.catalog-hotels {
  background-color: #FFFFFF;
}

.hotel-list {
  list-style: none;
}

.hotel-card-link {
  text-decoration: none;
}

.hotel-card-title {
  text-transform: none;
}

.hotel-list .button {
  font-size: 16px;
  line-height: 20px;
}

.hotel-card-button {
  text-decoration: none;
  background-color: #756157;
}

.button-press {
  background-color: #7DB54F;
}


.hotel-rating {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

/*Пагинация*/
.pagination {
  list-style: none;
}

.pagination a {
  text-decoration: none;
}

.pagination-current {
  background-color: #F2F2F2;
  color:#000000;
}

.pagination-hidden {
  background-color: #FFFFFF;
  color: #000000;
  font-weight: 400;
}
